body{
    margin: 0;
}
p{
    font-size: 14px;
}
section{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* trabajo en el contendor de todo */
.contenedor{
    background-color:hsl(0, 0%, 100%);
    display: flex;
    width: 600px;
    height: 400px;
    border-radius: 5%;
}


/* trabajo en el contnedor de la imagen */
.imagen{
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    background-image: url(imagenes-/image-product-desktop.jpg);
}


/* trabajo en el contendor del texto */
.contenedor-texto{
   width: 50%;
   text-align: left;
}

.titulo{
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: -20px;
    margin-top: -15px;
    font-family: 'Fraunces', serif;
    font-size: xx-large;
    line-height: 1;
}

p{
    color: hsl(228, 12%, 48%);
    margin: 10%;
    font-family: 'Montserrat', sans-serif;
}

.precios{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -15px;
    margin-right: 20%;
    font-family: 'Fraunces', serif;
}

.verde{
    color: hsl(158, 36%, 37%);
    font-size: xx-large;
    margin-top: -2px;
}

.tachado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
    text-decoration-color: hsl(228, 12%, 48%);
}

.precio-tachado{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}


/* trabajo en el contendor del boton */
.boton{
    display: flex;
    background-color: hsl(158, 36%, 37%);
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
}

button{
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
}